<div class="hero empty-state__hero">
  <h4 class="hero-body">There's no job listings just yet...</h4>
  <p>Check back later, or <%= link_to "post a job!", new_employer_session_path, class: "text-primary" %></p>
  <p>It's free - so what are you waiting for?</p>
</div>
