// Cards
.card {
  background: $bg-color-light;
  border-width: 0;
  border-color: transparent;
  box-shadow: 0px -3px 5px lightgray, 3px 10px 10px lightgray;
  border-radius: 0px $border-radius $border-radius 0px;
  display: flex;
  flex-direction: column;

  .card-header,
  .card-body,
  .card-footer {
    padding: $layout-spacing-sm;
    padding-bottom: 0;

    &:last-child {
      padding-bottom: $layout-spacing-sm;
    }
  }

  .card-body {
    flex: 1 1 auto;
  }

  .card-image {
    padding-top: $layout-spacing-lg;

    &:first-child {
      padding-top: 0;

      img {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }

    &:last-child {
      img {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}
