<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Or use this: <%= confirmation_url(@resource, confirmation_token: @token) %></p> 
<p>Thanks,</p>
<p>Remote Ruby on Rails Team</p>