<h1>New to Remote Ruby on Rails Jobs?</h1>
<%= link_to 'Create an Account', new_employer_path, class: 'btn btn-primary' %>
<h2>Or, log in:</h2>
<div class="form-group">
  <div class="form-label">Username</div>
  <div class="form-input" type="text" id="username" placeholder="Username"></div>
  <div class="form-label">Password</div>
  <div class="form-input" type="password" placeholder="Password"></div>
</div>
<%= link_to 'Back', employers_path %>
