<h3>Editing Profile</h3>
<%= render 'form', partial: 'form' %>
<div class="mt-8">
  <%= link_to 'My Job Listings', my_company_job_listings_path, class: "btn btn-link" %>
</div>
<div>
  <%= link_to 'Sign Out', destroy_employer_session_path, method: :delete, class: "btn btn-link" %>
</div>
<div>
  <%= link_to 'Delete Account', employer_path(current_employer), method: :delete, class: "btn btn-link", data:{ confirm: 'Are you sure you want to delete your account?' } %>
</div>
