<h1>Editing Profile</h1>
<%= render 'form', employer: @employer %>
<%= link_to 'Delete Account', employer_path(@employer), method: :delete, data:{ confirm: 'Are you sure you want to delete your account?' }, class: 'btn btn-link' %>
