<%= render 'search' %>
<div class="columns">
  <div class="sort col-12 text-center">
    <button class="btn btn-link">Sort Jobs by Salary</button>
  </div>
  <div class="joblistings col-12">
    <% if presenter.job_listings? %>
      <%= render presenter.job_listings, locals: {presenter: presenter} %>
    <% else %>
      <%= render 'no_search_results' %>
    <% end %>
  </div>
</div>
