<div class="columns">
  <div class="sort col-12">
    <button class="btn btn-link">Sort Jobs by Salary</button>
  </div>
  <div class="joblistings col-12">
    <%= render @job_listings %>
  </div>
</div>
