<div class="job-listings-search">
  <% if @job_listings.empty? %>
    <h4>No results for your search.</h4>
  <% else %>
    <div class="result-count mb-2 mt-2">
      <h5>Your search returned <%=@job_listings.count %> <%='listing'.pluralize(@job_listings.count) %>:</h5>
    </div>
    <%= render @job_listings %>
  <% end %>
</div>
