<div class="my-account">
  <%= link_to 'View Profile', edit_employer_path(current_employer) %>
</div>
<div class="job-listings-header my-2">
  <h3>Your Job Listings</h3>
</div>
<div class="my-job-listings">
  <%= link_to 'Add a new listing', new_job_listing_path %>
  <% if view.job_listings? %>
    <%= render partial: "my_job_listing", collection: view.job_listings, as: :job_listing %>
  <% else %>
    <%= render partial: "no_job_listings" %>
  <% end %>
</div>
