// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $header-font-family;
  font-size: $font-size;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: $dark-color;
  outline: none;
  text-decoration: none;

  &:focus {
    @include control-shadow();
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    color: $primary-color;
  }

  // For use against dark backgrounds
  &.link-contrast {
    &:focus,
    &:hover,
    &:active,
    &.active {
      color: lighten($dark-color, 80%);
    }
  }

  // &:visited {
  //   color: $link-color-light;
  // }
}
