<div id='flash'>
  <% flash.each do |type, msg| %>
    <% unless type.to_s == 'timedout' %>< %# to avoid extra "true" flash message from devise showing under the expected timeout flash %>
        <div class="<%= toast_class(flash_type: type) %>">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
  </div>
